.integracao1 .vermelha {
    color: red;
}

.integracao1 .azul {
    color: blue;
}

.integracao1 .verde {
    background-color: black;
    color: green;
}

.integracao1 .amarela {
    color: yellow;
}